* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  background: #fcfcfc;
}

.container-main input[type="text"] {
  height: 30px;
}

.container-main select {
  height: 30px;
  letter-spacing: 1px;
  padding-inline: 10px;
}

header {
  display: flex;
  gap: 10px;
  margin-top: 100px;
  background-color: #11b9b9;
  color: #ffffff;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  margin-bottom: 30px;
}

header button {
  background-color: #1b72e8;
  color: white;
  border: none;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

header button:hover {
  background-color: darkblue;
}

select .status {
  height: 26px;
}

header select:hover {
  cursor: pointer;
}

header input[type="date"]:hover {
  cursor: pointer;
}

table {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  position: relative;
}

th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 1.5px;
  background-color: #ccc;
}

table td {
  padding: 15px;
  position: relative;
  text-align: center;
}

td::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.5px;
  background-color: #ccc;
}

table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}


table i {
  cursor: pointer;
}

table button {
  background-color: #1b7246;
  color: white;
  border: none;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 80px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 5px;
}

table .delete-btn {
  background-color: red;
}

table .save-btn {
  background-color: orange;
}

table .delete-btn:hover {
  background-color: darkred;
}

table .update-btn:hover {
  background-color: darkblue;
}

table .save-btn:hover {
  background-color: darkgoldenrod;
}

.error {
  color: red;
  font-weight: bold;
}